# Dependências
node_modules/
.mvn/
target/
*.jar
*.war
!gradle-wrapper.jar

# Build
dist/
build/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Sistema operacional
.DS_Store
Thumbs.db

# Flyway local dev
flyway.conf